body {
    margin: 0px;
}


.red {
    height: 100px;
    background: red;
}

.blue {
    height: 100px;
    background: blue;
    margin: 10px 0 10px 0;
}

.green {
    height: 100px;
    background: green;
}